apiVersion: v1
kind: Service
metadata:
  name: {{ include "ai-compare.fullname" . }}-app-service
spec:
  selector:
    app: {{ include "ai-compare.fullname" . }}-app
  ports:
  - protocol: TCP
    port: {{ .Values.aiCompare.service.port }}
    targetPort: {{ .Values.aiCompare.service.port }}
    name: gradio
{{- if and (eq .Values.aiCompare.service.type "NodePort") .Values.aiCompare.service.nodePort }}
    nodePort: {{ .Values.aiCompare.service.nodePort }}
{{- end }}
  - protocol: TCP
    port: {{ .Values.aiCompare.httpApi.port }}
    targetPort: {{ .Values.aiCompare.httpApi.port }}
    name: http-api
{{- if and (eq .Values.aiCompare.service.type "NodePort") .Values.aiCompare.service.httpApiNodePort }}
    nodePort: {{ .Values.aiCompare.service.httpApiNodePort }}
{{- end }}
  type: {{ .Values.aiCompare.service.type }}
